body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle at top, #4c1d95 0%, #2b0a3d 55%, #14002b 100%);
}

.agar{
    background-color: #f0c08a;
    padding: 5px;
    text-shadow: 2px 2px 4px ;
}

header{
    background: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.banner{
    background-image: radial-gradient(circle at top, #4c1d95 0%, #2b0a3d 100%, #14002b 100%);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px 4px rebeccapurple;
}



.banner-content{
    width: 80%;
}

.banner h1{
    font-size: 2rem;
}

.banner h3{
    font-size: 1rem;
    margin-bottom: 1rem;
}

nav a{
    color: #14002B;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0.1rem;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    background-color:#f0c08a;
    border: none;
    text-shadow: 2px 2px 4px rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

nav a:hover{
    background-color: beige;
}

.contato{
    color: #14002B;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0.1rem;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    background-color:#f0c08a;
    border: none;
    text-shadow: 2px 2px 4px rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.contato:hover{
    background-color: beige;
}

main{
    width: 80%;
    margin: 2rem auto;
}


/* SOBRE NÓS */

.sobrenos{
    max-width: 600px;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin: 0 auto;
}

.sobrenos img{
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
}

.ns{
    color: #f0c08a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0%;
}

.historia{
    margin: 20px;
    align-items: center;
    text-align: center;
}

.tudonovo{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center; 
    margin: 20px 0;
}

.noinicio{
    text-align: left;
    font-size: 1.25rem;
    max-width: 600PX;
    margin: 0 auto;
}

.noinicio img{
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
}

.mousse{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.eali{
    text-align: left;
    font-size: 1.25rem;
    max-width: 600PX;
    margin: 0 auto;
}

.palavrachocante{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.nomeiodasvendas{
    text-align: left;
    font-size: 1.25rem;
    max-width: 600px;
    margin: 0 auto;
}

.Deusrespondeu{
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.texto{
    background-color: #f0c08a;
    width: auto;
    color: #14002B;
    border-radius: 50px;
    padding: 2rem;
    border: solid 2px  #14002B;
}



.desdeentao{
    text-align: left;
    font-size: 1.25rem;
    max-width: 600px;
    margin: 0 auto;
}

.umasocarne{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.renanjulia{
    text-align: left;
    font-size: 1.25rem;
    max-width: 600px;
    margin: 0 auto;
}

.renan{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.renanjulia img{
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
}


@media (min-width: 768px){

    main{
        width: 68%;
    }

.categoria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    gap: 1rem;
}

    .banner h1{
        font-size: 1.8rem;
    }

}