body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: purple, blue;
}

header{
    background: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.banner{
    background-color: #240046   ;
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px 4px rebeccapurple;
}

.banner-content{
    width: 80%;
}

.banner h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.banner h3{
    font-size: 1rem;
    margin-bottom: 1rem;
}

nav a{
    color: #e9ecef;
    text-decoration: none;
    margin: 0.1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color:#14002B;
}

nav a:hover{
    background-color: purple;
}

.contato{
    color: #e9ecef;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0.1rem;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    background-color:#14002B;
    border: none;
    text-shadow: 2px 2px 4px rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.contato:hover{
    background-color: purple;
}

main{
    width: 80%;
    margin: 2rem auto;
}


/* SOBRE NÓS */

.sobrenos{
    max-width: 600px;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin: 0 auto;
}

.sobrenos img{
    width: 300px;
    max-width: 600px;
    border-radius: 10px;
    margin: 0 auto;
}

.ns{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 0%;
}

.historia{
    margin: 50px;
    align-items: center;
    text-align: center;
}

.tudonovo{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.noinicio{
    text-align: left;
    font-size: 1.5rem;
    max-width: 600PX;
    margin: 0 auto;
}

.mousse{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.eali{
    text-align: left;
    font-size: 1.5rem;
    max-width: 600PX;
    margin: 0 auto;
}

.noinicio img{
     width: 300px;
    max-width: 600px;
    border-radius: 10px;
    margin: 0 auto;
}

.palavrachocante{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.nomeiodasvendas{
    text-align: left;
    font-size: 1.5rem;
    max-width: 600PX;
    margin: 0 auto;
}

.Deusrespondeu{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}