body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #14002B;
}

header{
    background: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.banner{
    background-color: #14002b;
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

.banner-content{
    width: 80%;
}

.banner h1{
    font-size: 2rem;
}

.banner h3{             
    font-size: 1rem;
    margin-bottom: 1rem;
}

nav a{
    color: #14002B;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0.1rem;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    background-color:#f0c08a;
    border: none;
    text-shadow: 2px 2px 4px rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;    
}

nav a:hover{
    background-color: purple;
}

.contato{
    color: #14002B;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0.1rem;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    background-color:#f0c08a;
    border: none;
    text-shadow: 2px 2px 4px rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.contato:hover{
    background-color: purple;
}

main{
    width: 80%;
    margin: 2rem auto;
}

.contato-container {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    align-items: center;
    padding: 40px;
    background-color: #f0c08a;
    border-radius: 20px;
    color: #a47dab;
    box-shadow: 0px 20px 20px rgba(1,1,1,1); 
}

.btn-instagram {
    display: inline-block;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    transition: transform 0.5s;
}

.btn-instagram:hover {
    transform: scale(1.05);
}

@media (max-width: 600px){

    .banner h1{
        font-size: 1.8rem;
    }

}